.page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
}

.page_main_menu {
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: #fffdd0;
  text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  line-height: 0.8;
}

.title_top {
  align-self: flex-start;
  margin-left: 3px;
  font-size: clamp(100px, 6vw, 90px);
}

.title_bottom {
  text-align: center;
  margin-bottom: clamp(40px, 10vh, 160px);
  font-size: clamp(100px, 6vw, 90px);
}

.button {
  background-color: #fffdd0;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #fffdd033;
  box-sizing: border-box;
}

.button_level {
  width: clamp(180px, 8vw, 135px);
  height: clamp(180px, 8vw, 135px);
  border-radius: clamp(12px, 2vw, 25px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  transition: transform 0.2s ease;
}

.button_level:hover {
  transform: scale(1.1) rotate(2deg);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}

.button_level:active {
  transform: scale(0.95);
}

.button_help {
  border-radius: 100px;
  width: clamp(80px, 8vw, 135px);
  height: clamp(80px, 8vw, 135px);
  bottom: clamp(10px, 2vh, 20px);
  right: clamp(10px, 2vw, 20px);
  position: absolute;
  transition: transform 0.2s ease;
}

.button_help:hover {
  transform: scale(1.15);
}

.button_help:active {
  transform: scale(0.95);
}

.button_mute {
  top: clamp(10px, 2vh, 20px);
  right: clamp(10px, 2vw, 20px);
  width: clamp(5px, 8vw, 60px);
  height: clamp(5px, 8vw, 60px);
  font-size: clamp(5px, 4vw, 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  transition: transform 0.2s ease;
}

.button_mute:hover {
  transform: scale(1.15);
}

.button_mute:active {
  transform: scale(0.95);
}

.level_button_array {
  display: flex;
  gap: clamp(10px, 2vw, 30px);
  justify-content: center;
  align-items: center;
}

.dot {
  width: 100%;
  height: 100%;
  background-color: #37A3A5;
  border-radius: 50%;
}

.help_text {
  font-size: clamp(30px, 4vw, 60px);
  font-weight: bold;
  color: #37A3A5;
}

.customer {
  position: absolute;

  bottom: -15vh;

  width: 15vw;

  z-index: 2;
}

.counter {
  position: absolute;

  bottom: -15vh;

  width: 120vw;

  z-index: 5;
}

.device_row {
  position: absolute;
  bottom: 12vh;

  display: flex;
  gap: 16vw;

  align-items: flex-end;
  justify-content: center;

  z-index: 9;
}

.device {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  display: block;

  cursor: grab;
  transition: transform 0.2s ease;
}

.device:hover {
  transform: scale(1.1);
}

.customer_slot {
  position: absolute;
  bottom: 40vh;

  background-color: rgba(255,0,0,0.3);

  width: 15vw;
  height: 15vw;

  border: 4px dashed white;

  border-radius: 20px;
  z-index: 10;
}

.score {
  position: absolute;
  top: 2vh;
  left: 2vw;

  padding: 1vh 1vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 12px;

  z-index: 100;
}

.button_back {
  position: absolute;
  top: 2vh;
  right: 2vw;

  padding: 1vh 2vw;
  border: none;
  border-radius: 12px;

  font-size: 1.5rem;
  font-weight: bold;
  color: #37A3A5;
  cursor: pointer;

  z-index: 100;
}

.button_back:hover {
  transform: scale(1.15);
}

.timer {
  position: absolute;
  top: 2vh;
  left: 50%;

  transform: translateX(-50%);

  padding: 1vh 1.5vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 2.5rem;
  font-weight: bold;

  border-radius: 12px;
  z-index: 100;
}

.modal_overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  position: relative;
  width: 40vw;
  padding: 3vh 3vw;

  background-color: #fffdd0;
  color: #000000;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  gap: 2vh;
  text-align: center;
}

.close_button {
  position: absolute;
  top: 1vh;
  right: 1vw;

  border: none;
  background: none;
  color: #000000;

  font-size: 1.5rem;
  cursor: pointer;
}

.start_button {
  padding: 1vh 2vw;
  border: none;
  border-radius: 12px;
  background-color: #37A3A5;
  color: #000000;

  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.start_button:hover {
  transform: scale(1.07);
}

.feedback_icon {
  position: absolute;
  bottom: 40vh;

  width: 15vw;
  height: 15vw;
  object-fit: contain;

  z-index: 11;

  pointer-events: none;
}

.button_repeat {
  position: absolute;
  bottom: 42vh;
  left: calc(50% + 10vw);

  width: clamp(50px, 6vw, 90px);
  height: clamp(50px, 6vw, 90px);

  border: none;
  border-radius: 100px;
  background-color: #fffdd0;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);

  font-size: clamp(20px, 3vw, 35px);
  cursor: pointer;

  z-index: 11;
  transition: transform 0.2s ease;
}

.button_repeat:hover {
  transform: scale(1.1);
}

.button_repeat:active {
  transform: scale(0.95);
}

.logos {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 16px;
  align-items: flex-end;
  gap: 7px;
}

.logos_ucr {
  height: clamp(40px, 8vw, 85px);
  margin-bottom: 10px;
  left: 16px;
  width: auto;
}

.logos_tcu {
  height: clamp(40px, 8vw, 128px);
  width: auto;
}

.device_highlight {
  position: absolute;
  inset: 0;
  background-color: rgb(96, 218, 62, 0.4);
  border: 3px solid #163f12;
  border-radius: 12px;
  pointer-events: none;
}