.page {
  background-image: url("/jpg/main_menu_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: #fffdd0;
  text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  line-height: 0.8;
}

.title_top {
  align-self: flex-start;
  margin-left: 3px;
  font-size: clamp(100px, 6vw, 90px);
}

.title_bottom {
  text-align: center;
  margin-bottom: clamp(40px, 10vh, 160px);
  font-size: clamp(100px, 6vw, 90px);
}

.button {
  background-color: #fffdd0;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #fffdd033;
  box-sizing: border-box;
}

.button_level {
  width: clamp(180px, 8vw, 135px);
  height: clamp(180px, 8vw, 135px);
  border-radius: clamp(12px, 2vw, 25px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.button_help {
  border-radius: 100px;
  width: clamp(80px, 8vw, 135px);
  height: clamp(80px, 8vw, 135px);

  bottom: clamp(10px, 2vh, 20px);
  right: clamp(10px, 2vw, 20px);
  position: absolute;
}

.level_button_array {
  display: flex;
  gap: clamp(10px, 2vw, 30px);
  justify-content: center;
  align-items: center;
}

.dot {
  width: 100%;
  height: 100%;
  background-color: #37A3A5;
  border-radius: 50%;
}

.help_text {
  font-size: clamp(30px, 4vw, 60px);
  font-weight: bold;
  color: #37A3A5;
}

